name: ci
on: push
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
      - run: just
  publish:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs:
      - ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true
          token: ${{ secrets.BUF_TOKEN }}
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: |
          GOOS=wasip1 GOARCH=wasm go build -o buf-check-reserved-keywords.wasm .
          buf plugin push buf.build/svanburenorg/reserved-keywords \
              --binary=buf-check-reserved-keywords.wasm \
              --source-control-url=https://github.com/${{github.repository}}/commit/${{github.sha}}
